@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #d1aeba;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(247, 220, 235, 0.808);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: none;
  }




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #ecbdd3;
    color: #F8FAFC;
}

h1, h2, p {
    margin: 0;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.cards-list {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    column-gap: 50px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    transition: 0.2s;
    background: rgba(255, 253, 254, 0.4);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(118, 60, 129, 0.164);

}

.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
}

.card__text {
    border-top: 1px solid #E7ACAC;
    width: inherit;
    display: flex;
    padding: 50px 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card__title {
    padding: 0 20px;
    text-align: center;
}
.card__subtitle {
    padding: 0 20px;
    text-align: center;

}

.card__img {
    padding: 30px;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background: url(../img/plus.svg) no-repeat;
    background-size: 200px 200px;
    background-position: center;
}

.card--creat:hover,
.card:hover {
    box-shadow: 0px 4px 10px #ca9595;
}

.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__card {
    width: 40%;
    padding: 0 20px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(92, 48, 90, 0.1);
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: #e0accc;
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__card label {
    width: 80%;
}

.form__text {
    background: #e0accc;
    border-radius: 10px;
    padding: 10px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__button {
    border: 1px solid #E7ACAC;
    background: #e0accc;
    border-radius: 10px;
    color: rgb(253, 253, 253);
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    color: #F8FAFC;
    background: #e0accc;
}

.main {
    padding: 0 5%;
}

.main__block {
    background: rgba(247, 225, 239, 0.4);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(90, 55, 99, 0.1);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
}

.main__link {
    display: block;
    border: 1px solid #E7ACAC;
    background: #e0accc;
    border-radius: 10px;
    color: rgb(252, 253, 253);
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.main__link:hover {
    color: #F8FAFC;
    background:  #e0accc ;
}


.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 30%;
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #e9d8e2;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(76, 51, 80, 0.1);
}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 15px 0px;
}

.error {
    font-size: 10px;
    color: #fff;
}

.login__link:hover {
    color: rgb(247, 250, 252);
}

.voice_button {
    border: 1px solid #ffff;
    background: #ca9595;
    border-radius: 10px;
    color: #e9d8e2;
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.voice_button:hover{
    color: #ca9595;
    background: #e0accc;
}